.customCheckBox {
    opacity: 0;
    display: none;
}
   
.changeIcon .iconStar,
.changeIcon:hover .iconStarO{
    display: none;
    color:#CE9732;
}
.changeIcon:hover .iconStar {
    display: inline;
}
   
.iconStyle {
    color:#CE9732;
    line-height: 10px;
    font-size: 1.5em;
    cursor: pointer;
}
   
.bookmarkLabel {
    font-size: 16px; 
    cursor: pointer;
    margin-left: 5px;
    font-family: Avenir Next LT Pro Regular, sans-serif;
    font-weight: 700;
}

@media (max-width: 912px) {
  .bookmarkLabel {
    font-size: 14px; 
  } 
}