/* .Select-value{
    border: 1px solid darkgray !important;
    vertical-align: 'middle' !important;  
}

#multi-select-value{
    background-color: #F5F5F5 !important;
}
.Select-value-label {
    color: #333333 !important;
    font-family: daxFont !important;
}
.Select-menu-outer {
    background-color:  #F5F5F5 !important;
    border-color: darkgray !important;
 }

.Select-clear, .Select-arrow-zone{
    padding-top: 3px
}

.Select-control{
    padding-bottom: 4px;
    border-color: darkgray !important;
    border-radius: 3px !important; 
    margin-bottom: 10px ;
    z-index: auto;
}
.Select-control:hover{
    box-shadow: none;
}

.Select-option.is-selected {
    background-color: #F5F5F5 !important;
    opacity: 0.4
}
.Select-option:hover{
    background-color: #e31420 !important;
    color: #F5F5F5 !important;
 }
 .is-focused{
    background-color: #F5F5F5 !important;
 }
#multi-option:hover{
    background-color: #F5F5F5 !important;
    color: #333333!important;
 
 }
#multi-select-value{
    z-index: 2 !important;
} */
.Select-control{
    padding-bottom: 5px;
}
.Select-clear, .Select-arrow-zone{
    padding-top: 3px
}