@import 'colors';
@import 'variables';
@import 'fonts';
@import "./components/F4AccordionMenu";
@import "./components/F4BranchLocator";
@import './components/F4Button';
@import './components/F4Card';
@import "./components/F4Dashboard";
@import './components/F4DataTable';
@import './components/F4Drawer';
@import './components/F4DrawerHeader';
@import "./components/F4Feedback";
@import "./components/F4Footer";
@import "./components/F4FormFieldLabel";
@import "./components/F4FormSeparator";
@import "./components/F4FullCalendarWidget";
@import "./components/F4GreeterPanel";
@import "./components/F4InputCheckbox";
@import "./components/F4InputDatePicker";
@import "./components/F4InputDayOfMonthPicker";
@import "./components/F4InputField";
@import "./components/F4InputFieldWithAutoSuggest";
@import "./components/F4InputFileDrop";
@import "./components/F4InputFileUploadWithLoader";
@import "./components/F4InputGridList";
@import "./components/F4InputIconRadioCheckbox";
@import "./components/F4InputList";
@import "./components/F4InputRadio";
@import "./components/F4InputSelect";
@import "./components/F4InputSelector";
@import "./components/F4InputSignaturePad";
@import "./components/F4Menu";
@import "./components/F4Modal";
@import "./components/F4MultiStepForm";
@import "./components/F4Navbar";
@import "./components/F4NavbarActionElement";
@import "./components/F4ProgressBar";
@import "./components/F4RadialPicker";
@import "./components/F4Select";
@import "./components/F4Spinner";
@import "./components/F4StackMenu";
@import "./components/F4StaticText";
@import "./components/F4TextArea";
@import "./components/F4ToggleSwitch";
@import "./components/F4Toolbar";
@import "./components/F4ToolbarElement";
@import "./components/F4VisibilityWrapper";
@import "./components/F4Bookmark";
@import "./components/F4Stepper";
@import "./components/F4CorpSingleSearchDialog";
@import "./components/F4CorpMultipleSearchDialog";
@import "./components/F4Dashboard";
@import "./components/F4InputFileUploadWithLoader";
@import "./components/F4ListView";
@import "./components/F4Calendar";
@import "./containers/F4AbsoluteCenterContainer";
@import "./containers/F4BaseContainer";
@import "./containers/F4ContentContainer";
@import "./containers/F4WithNavContainer";

*, body {
  font-family: $font-avenir-regular;
  font-weight:normal;
}

body {
  background-color: $color-main-bg;
}

.f4InputListRow {
  padding: 10px !important;
}

.f4ButtonGroup {
  display: inline-block;
  width: 100% !important;
}

.form-group.f4FormGroup {
  margin-bottom: 20px;
}

.form-control {
  height: initial !important;
}

.help-block.info {
  font-size: 12px !important;
  color: gray;
}

.f4ToolbarTitleText {
  font-family: $font-avenir-regular !important;
}

.dropdown-menu > li > a {
  padding: 10px 20px 10px !important;
  color: $color-text-primary;
}

/**
* alert
*/
.alert {
  padding: 5px 15px !important;
  font-size: 13px;
  text-align: left !important;
}

.alert-danger {
  border-color: #a94442 !important;
}


/**
* f4Card
*/

.f4Card {
  margin-bottom: 15px !important;
}
